[submodule "ch/.local/bin"]
	path = ch/.local/bin
	url = https://github.com/zedkaido/ch.git
[submodule "vim/.vim"]
	path = vim/.vim
	url = https://github.com/zedkaido/.vim.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/zedkaido/.emacs.d.git
