[submodule "ch/.local/bin"]
	path = ch/.local/bin
	url = git@github.com:zedkaido/ch.git
[submodule "vim/.vim"]
	path = vim/.vim
	url = git@github.com:zedkaido/.vim.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = git@github.com:zedkaido/.emacs.d.git
